version: '3.9'



services:

  web:
    build: .
    container_name: messaging_app
    env_file:
      - .env
    environment:
        DB_HOST: db
        DB_PORT: 3306
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: ./data